.title_conf {
    font-size: 60px;
    font-weight: 700;
    font-family: 'open sans';
}
.subtitle_conf {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 700;
    font-family: 'open sans condensed';
}
.text {
    margin-top: 30px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}