.work {
    min-height: auto;

    
    margin-bottom: 20px; 
    .subtitle {
        margin-top: 40px;
        font-size:14px;
    }
    .reason {
        display:grid;
        font-size: 16px;
        font-family: 'open sans condensed';
        font-weight: 700;
        margin-top: 60px;
        
    }
    .rows {
        background: url('../img/whywe.jpg') center (center/cover) no-repeat;
    background-size: 50%;
    background-position: bottom right;   
    }

}
 